{{!-- This is the body --}}

<form action="/urns" method="POST">
<input type="text" placeholder="type" name="type">
<input type="text" placeholder="keywords" name="keywords">
<input type="number" placeholder="inventory" name="inventory">
<button type="submit">Submit</button>
</form>