<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This Daily Code</title>
</head>
<!-- Linking Google Font   -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@300&display=swap" rel="stylesheet">
  
<!-- Linking External CSS  -->
   <link rel="stylesheet" type="text/css" href="assets/css/style.css">
<body>
    {{>nav}}
    {{{body}}}   
    {{>footer}}
    <!-- Linking JS -->
    <script src="./index.js"></script>
</body>
</html>