*{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

#post-bucket {
    width: 75%;
    margin: 5rem;
}